body{
    background-color: rgb(29, 27, 26);
}

form {
    width: 450px;
    margin-top: 280px;
    margin-left: 35%;
    background: linear-gradient(to left,rgb(255, 252, 252), rgb(71, 67, 67), rgb(32, 31, 32));
    padding: 10px 20px 30px 40px; /*top/right/bottom/left*/
    box-shadow: 0px 0px 20px 5px rgba(194, 192, 192, 0.76);
    border-radius: 25px;
}